Source: slurm
Section: net
Priority: optional
Maintainer: Matthias Schmitz <matthias@sigxcpu.org>
Build-Depends: debhelper (>= 9), libncurses5-dev, scons
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/users/matthias-guest/slurm.git
Vcs-Browser: http://anonscm.debian.org/cgit/users/matthias-guest/slurm.git
Homepage: https://github.com/mattthias/slurm

Package: slurm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Realtime network interface monitor
 Slurm has the following features:
  * realtime traffic statistics divided into incoming and outgoing 
  * optional combined view 
  * can monitor any kind of network interface 
  * shows detailed statistics about the interface. 
  * it's themeable
